#myChats {
    width: 500px;
    display: flex;
    flex-direction: column;    
}

.p-hover{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.eye-hover{
    background-color: aquamarine;
}
.eye-hover:hover{
    background-color: aqua;
}


.chat-box{
    background: rgb(242, 240, 243);
    height: 550px;
}