.user-list-item{
    background-color: lightgoldenrodyellow;
    margin: 2px 0px;
    text-align: center;
    border: none;
}

.user-list-item:hover{
    background-color: rgb(89, 217, 246);
    cursor: pointer;
    color: white;
    transition: all 300ms ease;
}